* {
	box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    background: #454755;
    background: -webkit-linear-gradient(to right, #ff00f2, #ffd900, #9ce8ff);
    background: linear-gradient(to right, #ff00f2, #ffd900, #9ce8ff);
    background-size: 500%;
    animation: fanimado 5s infinite;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
}

@keyframes fanimado {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
    
}

h1 {
	color: white;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 40px;
	font-weight: bolder;
}

.pokemon-container {

	display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon-block,
.pokemon-block-back {
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(255, 238, 0, 0.637);
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.img-container {
    background-color: rgba(155, 50, 123, 0.521);
    border-radius: 90%;
    height: 120px;
    width: 120px;
	align-items: center;
}

.pokemon-block p {
	margin: 5px;
}

.name {
    background-color: rgba(255, 255, 255, 0.301);
    border-radius: 15px;
    font-size: 12px;
    padding: 5px 10px;
    font-weight: bolder;
}

.barra-de-progreso {
	color: rgb(0, 0, 0);
	font-family: 'IBM Plex Mono', monospace;
	background-color: rgba(255, 255, 255, 0.493);
    border-radius: 15px;
	text-align: left;
}

.card-container {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.flip-card:hover .card-container {
	transform: rotateY(180deg);
}


.pokemon-block-back {
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transform: rotateY(180deg);
	position: absolute;
	top: 0%;
}

.stat-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: right;
	color: darkblue;
}


